.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}
.mobile-view {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .mobile-view {
    display: flex;
    position: relative;
    width: 375px;
    height: 667px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}






.content{
  padding: 0 20px;
  box-sizing: border-box;
}

.prelogo{
  display: block;
  width: 150px;
  height: 60px;
  margin: 0 auto;
}

.mypage{
  position: relative;
  padding-bottom: 20px;
}

.mypage_text{
  text-align: center;
}

.welcome_message{
  position:relative;
  padding-bottom: 20px;
  font-size: 12px;
}






#account_box{
  height: 100%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif ;
  flex-direction: column;
  background-color: #ffffff;
}

#account_title {
  position: relative;
  display: block;
  padding: 1px 38px 1px 18px;
  border-radius: 12px 12px 0 0;
  background-image: linear-gradient(98deg, rgb(89, 1, 1),crimson);
}

#account_text{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -.19px;
  color: #fff;
}

#account_row {
  border-radius: 0 0 12px 12px;
  border-top: 0;
  padding: 0 17px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px 0 rgba(72,75,108,.08);
  border: solid 1px #e3e9ed;
  background-color: #fff;
  box-sizing: border-box;
}
ul{
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li{
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  text-align: -webkit-match-parent;

  padding-bottom: 7px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.account_list{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.row_nick, .row_itemname, .row_schoolid{
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -.47px;
  color: #000000;
}






#betting_box{
  height: 100%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif ;
  flex-direction: column;
  background-color: #ffffff;
}

#betting_title {
  position: relative;
  display: block;
  padding: 1px 38px 1px 18px;
  border-radius: 12px 12px 0 0;
  background-image: linear-gradient(98deg, rgb(89, 1, 1),crimson);
}

#betting_text {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -.19px;
  color: #fff;
}

#betting_row {
  border-radius: 0 0 12px 12px;
  border-top: 0;
  padding: 0 17px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px 0 rgba(72,75,108,.08);
  border: solid 1px #e3e9ed;
  background-color: #ffffff;
  box-sizing: border-box;
  display: inline-flex;
}

#row_itemused, #row_itemleft{
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -.47px;
  color: #000000;
}

.row_itemused{
  margin-left: 30px;
}







#betting_list_box{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border-top: 0;
  padding: 0 17px;
  box-shadow: 1px 1px 10px 0 rgba(72,75,108,.08);
  border: solid 1px #d8d8d8;
  background-color: #e7e7e7;
  box-sizing: border-box;
  font-size : 10px;
  font-weight:550;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


#betting_list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  column-gap: 50px;
  row-gap: 0px;
}

#betting_list li {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 0px;
}

#betting_list_box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 1px;
  height: 75%;
  background-color: #c1c1c1;
}

#customer_box{
  height: 100%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif ;
  flex-direction: column;
  background-color: #ffffff;
}











